**2/26/25:
Practice Questions**

True or False:
	Python is high level programming language 
	Python supports OOP, and procedural paradigm 
	Pandas library inclusion - scipy is built on to of numpy 
	
Output of code:
	Symbols- like math in abstract- 2x+y
	.expand method- multiply out square- outcome is the polynomial equation

In [4]:
from sympy import Symbol
x, y = Symbol('x'), Symbol('y')
expression=(x-y)**2
expression.expand()

x**2 - 2*x*y + y**2

In [6]:
import numpy as np
ε_values = 5*np.random.randn(100) -2

import numpy, store epsilon values as 100 random draws from a normal distributino with mean 5 and stadard dev -2

In [9]:

#What is the output of the following code?
x = [10, 'UT', False]
x.pop(1)

'UT'

pop out index 1 

Types:
x=1 is an int
y=1.0 is a float

In [12]:
x = [10, 'UT', False]
type(x)

list

In [14]:
#What will be the output of the following code?
z = 10 < 100
z

True

In [18]:
#What is the type of x in the following example?
x = 'a', 'b'
type(x)

tuple

Can't pop in a tuple- that is a list method

In [35]:
#have a dataframe and write code to select cell with entry 8.0 using .loc function
import pandas as pd
import numpy as np
df = pd.DataFrame(
data = np.reshape(range(36),(6,6)), #takes values 0-35 into a 6x6 matrix 
index = ["a", "b", "c", "d", "e", "f"],
columns = ["col" + str(i) for i in range(6)],
dtype = float,
)
df

   col0  col1  col2  col3  col4  col5
a   0.0   1.0   2.0   3.0   4.0   5.0
b   6.0   7.0   8.0   9.0  10.0  11.0
c  12.0  13.0  14.0  15.0  16.0  17.0
d  18.0  19.0  20.0  21.0  22.0  23.0
e  24.0  25.0  26.0  27.0  28.0  29.0
f  30.0  31.0  32.0  33.0  34.0  35.0

In [39]:
#geting the 8.0 entry with .loc 
df.loc['b','col2']

8.0

In [47]:
#now using .iloc
df.iloc[1,2]   #use index values of the columns and rows

8.0

In [49]:
#Assume you have a dataframe df and you have imported all the necessary packages. Write a short
#code that creates a new column with the column title "New_Column" that contains the integer 4 in
#each row?
df["New_Column"]=4
df

   col0  col1  col2  col3  col4  col5  New_Column
a   0.0   1.0   2.0   3.0   4.0   5.0           4
b   6.0   7.0   8.0   9.0  10.0  11.0           4
c  12.0  13.0  14.0  15.0  16.0  17.0           4
d  18.0  19.0  20.0  21.0  22.0  23.0           4
e  24.0  25.0  26.0  27.0  28.0  29.0           4
f  30.0  31.0  32.0  33.0  34.0  35.0           4

In [59]:
#Using np.random.randint create an array with random integers between 0 and 4 with 5 rows and
#3 columns
array=np.random.randint(0,5,(5,3)) #range start, range stop, feed in tuple (5,3) for size
array

array([[1, 2, 2],
       [1, 1, 0],
       [3, 2, 3],
       [1, 4, 0],
       [2, 3, 0]])

In [69]:
#Assume you have a dataframe df with columns titled "A" and "B", both containing integers. Use
#the .apply() function to create a new column titled "A_minus_B" containing the results from
#subtracting the entries in "B" from the ones in "A" element wise
df["A_minus_B"]= df.apply(lamda x: x["A"]-x["B"], axis=1 #move through rows)

In [ ]:
#without .apply()
df["A_minus_B"]=df["A"]-df["B"]

We define a function f as follow:
def f(x):
"""
This function squares its argument.
"""
return x**2
What is the following part of the code called:
"""
This function squares its argument.
"""

It is called the docstring access with .doc

In [73]:
#Assume you have a dataframe df and all necessary packages have been imported. Use .iloc to
#display every 5th row of df starting from the third row
df.iloc[2::5,:] #start at 2 go to end, step by 5, all the columns after the comma

Assume you have a dataframe df. Describe what the following command does:
df.sample(frac = 0.25, replace = False)

gives a random sample of 25% of total dataset, replace=False means you will not replace values, drawing without replacement every observation new

Assume you have a dataframe df. Describe the commonalities and differences of the two commands:
df.head() and df.info().

In [85]:
df.head()

   col0  col1  col2  col3  col4  col5  New_Column
a   0.0   1.0   2.0   3.0   4.0   5.0           4
b   6.0   7.0   8.0   9.0  10.0  11.0           4
c  12.0  13.0  14.0  15.0  16.0  17.0           4
d  18.0  19.0  20.0  21.0  22.0  23.0           4
e  24.0  25.0  26.0  27.0  28.0  29.0           4

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, a to f
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   col0        6 non-null      float64
 1   col1        6 non-null      float64
 2   col2        6 non-null      float64
 3   col3        6 non-null      float64
 4   col4        6 non-null      float64
 5   col5        6 non-null      float64
 6   New_Column  6 non-null      int64
dtypes: float64(6), int64(1)
memory usage: 556.0+ bytes

df head shows first 5 observations, while df.info gives more overview specific info, but both give a brief look into a dataframe 

other important commands df.describe df.tail

Assume you have a dataframe d1 with columns named "height" and "mass". Describe what the
output of the following command will be:
d1.plot.scatter("mass","height")

Provides a scatterplot with the first variable "mass" on the x axis and "height" on the y axis

tidy data- one observation per row and column, organized easy to view

**Question 25 (1.5 point):**
Consider the Solow growth model we discussed in class. In this model, the capital stock kt evolves
according to the rule:
kt+1 = szkαt + (1 − δ)kt,
where:
• s ∈ (0, 1) is an exogenously given savings rate
• z > 0 is a productivity parameter
• α ∈ (0, 1) is the income share of capital
• δ ∈ (0, 1) is the depreciation rate.
A steady state of the model is a k that solves the above equation when kt+1 = kt = k.
Solve for the steady state and then take the derivative of the steady state capital stock with respect
to δ. Does the steady state capital stock increase or decrease when δ increases?

*In steady state kt+1=kt because k does not change over time*

reset equation so 
k=szk^$\alpha$+(1-$\delta$)k

$\delta$k=szk^$\alpha$

k^(1-$\alpha$)= sz/$\delta$

raise to (1/(1-$\alpha$)

so k = (sz/$\delta$)^(1/(1-$\alpha$)

now taking derivative with respect to delta 

$\delta$^(1/($\alpha$-1)

deritive of k with respect to delta 

(1/($\alpha$-1)$\delta$^(1/($\alpha$-1)-1)

*is it positive or negative?*

sz is positive, delta is btwn 0-1 is positive soooo is (1/($\alpha$-1) pos or neg?

that is negative sooo.. posxposxneg = neg 

*higher depriciation leads to a lower steady state*

**Question 26 (2 points):**
Consider a competitive market in which buyers and sellers are both price takers.
The market consists of the following objects:
• a linear demand curve Q = ad − bdp
• a linear supply curve Q = az + bz (p − t),

where
• p is the price paid by the buyer,
• Q is the quantity,
• t is a per-unit tax,
• other symbols are demand and supply parameters (intercept and slope of the two linear curves)

We assume that all parameters are non-negative.

Depict this market graphically (put the quantity Q on the x-axis and the price p on the y-axis).

Indicate the following objects:

• consumer surplus

• producer surplus

• tax revenue

• deadweight loss

Make sure to label all curves and axes appropriately.
What happens to the deadweight loss when the tax is 0?

*would just draw a graph by hand with labels and such* 

*when tax is 0 there is no dwl, dwl=0*

could think about dwl with inc or dec tax

In [109]:
#Assume we have a dataframe abc with columns "birth_month", "city", "height" and "weight".
#Explain what the following code does.
abc.groupby(["birth_month","city"]).agg(
aux1=("height","median"),
aux2=("weight","std"),
)
#.groupby uses categorical data to make groups .agg aggregates data to find median height and dts og weigth

In [116]:
df = pd.DataFrame(
{
"One": 2.0, #insert 2.0 for ever row in df 
"Two": [4]*5, #5 times so will have 5 rows 
}
)
df
#What is the index of this dataframe df?
#What are the column names of the dataframe df?

   One  Two
0  2.0    4
1  2.0    4
2  2.0    4
3  2.0    4
4  2.0    4

The index values are [0],[1],[2],[3],[4] , the column names are "One" and "Two"

In [118]:
#What is the outcome of the following code?
bools = False, True, True
all(bools)
#false

False

**Question 30** Assume we have a dataframe df. Explain what the following code does:

df.rename(columns=str.upper)

it renames the columns to a string in all uppercase

In [125]:
df.rename(columns=str.upper)

   ONE  TWO
0  2.0    4
1  2.0    4
2  2.0    4
3  2.0    4
4  2.0    4

**Question 31**
Assume we have a dataframe df. Describe what the following code does:

df.iloc[:5, -2:]

uses the .iloc function on a data frame to show rows from the start to row index 4, and columns from -2 to the end of the df columns (last 2 columns and first five row)

In [127]:
df.iloc[:5,-2:]

   One  Two
0  2.0    4
1  2.0    4
2  2.0    4
3  2.0    4
4  2.0    4

**Question 32** Assume we have a dataframe df. Describe what the following code does:

df.iloc[:6:1, -6:-2:1]

takes the rows from the start to index 6 stepping by 1, and the coloumns from -6 to -2 step by 1

so row 0-5 and columns -6:-2

In [131]:
df.iloc[:6:1,-6:-2:1]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

Python knows when a function ends from unindentation

Explain what the pandas function .rolling(n).mean() does

.rolling(n).mean provides a rolling mean for a time range, for observation in window of n computes average

In [139]:
#What is the output of the following code?
print([x // 3 for x in range(1, 6)])
#in a list [1//3=0,2//3=0...]
#[0,0,1,1,1]

[0, 0, 1, 1, 1]

In [143]:
#What is the output of the following code?
print([x % 4 for x in range(1, 8)])
#in a list remainder of divide by for so 1//4=0 remainder 1, 2//4=0 remainder 2
#[1,2,3,0,1,2,3]

[1, 2, 3, 0, 1, 2, 3]

Explain what .round(n) does

rounds something to n places 10^(-N)

round(2) rounds to 2nd decimal

round(-2) round to 100s , round(-1) rounds to 10s place

In [156]:
x=pd.Series(range(0,20))
x.round(-1)

0      0
1      0
2      0
3      0
4      0
5      0
6     10
7     10
8     10
9     10
10    10
11    10
12    10
13    10
14    10
15    20
16    20
17    20
18    20
19    20
dtype: int64

**True or False**

Indicate for each of the following statements whether it is true or not. Correct answers give 0.5
points each (there are no minus points for false answers).

(a) In the code x = 1, x is called the name of the object. TRUE 

(b) In s = ['123'] the object s is of type string. FALSE its a list 

(c) The command int('100') + 400 produces the integer 500 as output. TRUE 

(d) After executing the code line x = y, x and y will have different identities. (Assume that y is
already stored in the memory as an integer) FALSE

**Question 39 (0.5 points):**
Assume we have a dataframe df with a column titled "C1" of the type Categorical. Describe what
the following code does.

df["C1"].mode()

categorical data type, .mode() returns the most frequent category like mode in mean,median,mode

**Question 40 (1 point):**
Assume we have a dataframe df with multiple columns all containing integers. Explain what the
following code does.

df.rank()

Ranks the entries in each column and starts with smallest numbers

Now, have less code stuff but code have lawerence curve, gini coefficient, etc

**3/10/25 Midterm Talk**

ignore colors in code, 

study : comes from lectures 1-12

lawerence curve by hand, x and y values, draw curve 

empirical patterns of business cycle (more developed more syncronized in gdp and growth)

true or false facts about developed countries economic things (ex: did us overtake british empire in ...) 

write code by hand, details and syntax,, loc reference datafram? , iloc by index 

understand code outputs and definitions, types (set vs dict) 

loop : for i in range

defining time series, random draws and appending , overwriting or filling up list/ array